#videoCarousel {
  background: #777;
}

#citem {
  background: #666;
  height: 100%;
}

#photoCarousel {
  height: 500px;
  width: 100%;
}

#comment-text {
  visibility: visible;
}

#spnEmailValid {
  color: red;
}
